nav {
    display: flex;
    background-color: var(--branco);
    height: 70px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.menu_navegacao {
    display: flex;
}

.menu_navegacao-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
    background-color: var(--cinza-claro);
    border-radius: 8px;
    list-style: none;
}

.menu_navegacao-lista:hover {
    background-color: var(--azul-claro);
}

.menu_navegacao-lista a {
    text-decoration: none;
    color: var(--cinza-100);
}

